
@{
    ViewData["Title"] = "Download";
}
<style>
    p{
        margin-top: 10px;
    }
    h3{
        margin-bottom: 25px;
    }
</style>
<h1>Downloads</h1>
<div id="Web">
    <h3>Ordering Website Link</h3>
    <a class="btn btn-default" href = 'https://warehousemasteronline.azurewebsites.net/' target="_blank">Visit Website</a>
    <p>Visit the website and get started.</p>
</div>
<div id="Desktop">
    <h3>Desktop Application</h3>
    <a class="btn btn-default" href = '/exes/WarehouseMaster.exe' target="_blank">Download</a>
    <p>Download and run Application.</p>
</div>
<div id="Android">
    <h3>Android Application</h3>
    <a class="btn btn-default" href='https://groups.google.com/forum/#!forum/warehouse-master/join' target="_blank">First, Join This Group</a>
    <br/><br/>
    <a class="btn btn-default" href='https://play.google.com/apps/testing/edu.psu.birddogs.warehousemaster' target="_blank">Now, Download Here</a>
    <br/><br/>
    <p>After you download the app on your android device, enter the following in the settings on the login screen.</P>
    <p>You only need to enter this information once; it will persist even after the app closes unless it is uninstalled completely.</p>
    <br/>
    <p>Server URL</p>
    <pre>mycsdb.civb68g6fy4p.us-east-2.rds.amazonaws.com</pre>
    <p>Connection Port</p>
    <pre>1433</pre>
    <p>Database Name</p>
    <pre>warehouse</pre>
    <p>Database Admin Username</p>
    <pre>masterUser</pre>
    <p>Database Admin Password</p>
    <pre>master1234</pre>
    <p>Connection Protocol</p>
    <pre>TLSv1</pre>
    <p>If you want to set up your own database, you can use the same setting page to enter your own information.</p>
    <p>Keep in mind the application will <bold>not</bold> create your database tables.  However, there is a <a class="btn btn-default"  asp-controller="Home" asp-action="Help">Guide</a> to help you set it up.</p>
</div>


